DATABASE_URL=postgres://{user}:{password}@{hostname}:{port}/{database-name}
DATABASE=database_name
SECRET=secret_key
FACEBOOK_CLIENT_ID=XXXXXXX
FACEBOOK_CLIENT_SECRET=XXXXXXX
FACEBOOK_CALLBACK_URL=http://localhost:8800/graphql